<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title: "Home"}) %>

<!-----------------------------------------------------------------------
 Esto es el body
--------------------------------------------------------------------------> 

<body>

<!-----------------------------------------------------------------------
 Esto es el header
-------------------------------------------------------------------------->

<%- include('../partials/header') %>

<!-----------------------------------------------------------------------
Esto es el cuerpo
-------------------------------------------------------------------------->   

<div class="contenedor">
    <section class="detallep">
        <div class="ladoizquierdo">
            <div class= "izq">
                <img class="left" src="../imagenes/1.jpg" alt="logo"> 
                <img class="left" src="../imagenes/2.JPG" alt="logo">
                <img class="left" src="../imagenes/3.JPG" alt="logo">
            </div>
            
            <div class= "der">
                <img class="right" src="../imagenes/3.JPG" alt="logo">  
            </div>
        </div>

        <div class="ladoderecho">
            <div class= "uno">
                <p>Levis</p>
            </div>
        
            <div class= "dos">
                <p>Jean Azul Levis Skinny</p>
            </div><br><br>

            <div class= "tres">
                <p class="uno">$ 6620</p><p>$ 3320</p>
            </div>

            <div class= "cuatro">
                <small>Ver cuotas</small>
            </div><br><br>

            <div class= "cinco">
                <small>TALLES</small>
            </div><br><br>

            <div class="seis">
                <select name="Talles" id="Talles">
                    <option value="selecTalle" selected disabled hidden>Seleccioná un talle</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                    <option value="XXL">XXL</option>
                </select>
            </div>

            <div class="siete">
                <button class="añadir" type="submit"><i class="fas fa-shopping-bag"></i> Añadir</button>
            </div>
        </div>
    </section>
    
    <div class= "abajod">
        <div class= "primero">
            <h3>DETALLE DE PRODUCTO</h3>
        </div>

        <div class= "segundo">
            <h3>INFORMACIÓN</h3>   
        </div>

     <div class= "cajaab">
            <div class= "izq">
                <div class= "uno">
                    <p>Talla</p> 
                </div>

                <div class= "dos">
                    <p>Modelo</p> 
                </div>

            <div class= "tres">
                <p>Color</p> 
            </div>

            <div class= "cuatro">
                <p>Codigo atículo</p> 
            </div>
        </div>
     
        <div class= "der">
            <div class= "uno">
                <p>Numero talla</p>
            </div>
            
            <div class= "dos">
                <p>Modelo producto</p>
            </div>
        
            <div class= "tres">  
                <p>Color producto</p>
            </div>

            <div class= "cuatro">
                <p>AD877ST73DOYAR</p>
            </div>
        </div>
    </div>
</div>
 <!-----------------------------------------------------------------------
 Esto es el footer
-------------------------------------------------------------------------->
 
<%- include('../partials/footer') %>

</div>

</body>