/*-------------------------------------------------------------------------- 
 DISEÑO GENERAL
 ----------------------------------------------------------------------------*/
 
* {
    box-sizing: border-box;
    padding: 0px;
    }

body{
    background-color: rgb(250, 221, 90)
}

.contenedor {
    background-color: rgb(246, 247, 229);
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Roboto:wght@400;700&display=swap');

@import url("https://use.fontawesome.com/releases/v5.15.1/css/all.css");

/*-------------------------------------------------------------------------- 
DISEÑO HEADER
 ----------------------------------------------------------------------------*/
 
header {
    background-color: rgb(243, 166, 66);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    margin-bottom: 20px;
    
 }

 header img.logo {
    width: 250px;
    height: 150px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 10px;
    margin-right: 100px;
}

header .linea {
    display: flex;
    flex-wrap: wrap;
    align-items: center;




}

header ul{

justify-content: space-between;

   margin-right: 100px;

}


header ul li {
    margin-right: 50px; 
    display: inline-block;
    
}

header ul li a{
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: bold;
        
}

header form{
    display: inline-block;
    width: 410px;
    height: 25px;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
 
}

header  form button[type="submit"] {
    width: 28%;
    background: none;
    border: none;
    font-size: 20px;
    color: black;
    padding: 0px;
    text-align: right;
    position: relative;
    bottom: 3px;
    }

header form input[type="text"] {
    width: 70%;
    border: none;
    font-size: 17px;
    position: relative;
    bottom: 3px;
}
header .icons{
 
    position: relative;
    margin-bottom: 5%;
    margin-left:520px;
    
}

header .icons button[type="submit"]  {
  
    border: none;
    background: none;
    margin-left:10px;
    display: inline-block;
    font-size: 30px;
 
}

header .icons button[type="submit"] a{
    text-decoration: none;
    color: black;
}

header .logeo{
    margin-left:190px;
}

header .logeo ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
   
}

header .logeo ul li {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
  
}



/*-------------------------------------------------------------------------- 
DISEÑO HOME
 ----------------------------------------------------------------------------*/
body .menu button[type="submit"] {
    font-size: 43px;
    border: none;
    background: none;
    display: flex;
  
    
}

body .linea2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}


     
img.centro{
    
    height: 500px;
    width: 100%;
    margin-left: 18%;
    
}


body .linea3 h2{
   
    width: 100%;
    font-size: 25px;
    letter-spacing: 2px;
    line-height: initial;
    vertical-align: middle;
    text-align: center;
    margin-top: 5%;
    border-top: double;
    border-bottom: double;
      
}

body .linea4{
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
    margin-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
  
}

body .linea4 .destacado {
        
    display: inline-block;
    vertical-align: middle;
      
           
}   

body .linea4 .destacado:hover{
    transform: scale(1.025); 
    transition: all 0.5s ease;
}

 body .linea4 .destacado img.prendas{
      
     height: 300px;
     width: 250px;
     
}

    
body .linea4 .destacado p{
    margin-left: 20px;
    font-size: 18px;
 }

 body .linea4 .destacado p.abajo{
    font-weight: bold;
}
    
    
body .linea5 h2{
   
    width: 100%;
    font-size: 25px;
    letter-spacing: 2px;
    line-height: initial;
    vertical-align: middle;
    text-align: center;
    margin-top: 5%;
    border-top: double;
    border-bottom: double;
    margin-bottom: 5%;
  
}

body .linea6{
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
    margin-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
  
}



body .linea6 .der .fila .prenda img.prenda2{
    height: 250px;
    width: 200px;
}


body .linea6 .der .fila2 .prenda img.prenda2{
    height: 250px;
    width: 200px;
}


body .linea6 .der .fila{
    display:flex;
   
}

body .linea6 .der .fila2{
    display:flex;
    margin-top: 3%;
    
   
}

body .linea6 .der{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 10%;
  
}

body .linea6 .der .fila .prenda{
    margin-right: 150px;
}

body .linea6 .der .fila .prenda:hover{
    transform: scale(1.025); 
    transition: all 0.5s ease;
}

body .linea6 .der .fila2 .prenda{
    margin-right: 150px;
}

body .linea6 .der .fila2 .prenda:hover{
    transform: scale(1.025); 
    transition: all 0.5s ease;
}

body .linea6 .izq:hover{
    transform: scale(1.025); 
    transition: all 0.5s ease;
}

body .linea6 .der .fila .prenda p{
    font-size: 15px;
}

body .linea6 .der .fila2 .prenda p{
    font-size: 15px;
}

body .linea6 .der .fila .prenda p.abajo{
    font-weight: bold;
}


body .linea6 .der .fila2 .prenda p.abajo{
    font-weight: bold;
}

    
    

  


              
/*--------------------------------------------------------- 
DISEÑO DETALLE
 ----------------------------------------------------------------------------*/
.detallep{
    display:flex;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 3%;
    
}

 .detallep .ladoizquierdo{
     display:flex;
     background-color: white;
 }

 .detallep .ladoizquierdo .izq{
    display: flex;
    flex-direction: column;
    margin-right: 25%;
 }

 .detallep .ladoizquierdo .izq img{
     width: 100px;
     height: 150px;
 }

 .detallep .ladoizquierdo .der img{
     height: 700px;
 }

 .detallep .ladoderecho{
     margin-left:20%;

 }

 .detallep .ladoderecho .uno p{
    font-size: 25px;
    line-height: 20px;
    font-weight: 700;
 }

 .detallep .ladoderecho .dos p{
    font-size: 18px;
    line-height: 14px;
    font-weight: 400;
 }

 .detallep .ladoderecho .tres p.uno{
    text-decoration: line-through;
    font-size: 16px;
    line-height: 14px;
    font-weight: 400;
 }

 .detallep .ladoderecho .tres p{
   
    font-size: 25px;
    line-height: 22px;
    font-weight: 700;
    margin-top: -15px;
 }

 .detallep .ladoderecho .cuatro small{
    color: hsl(22, 94%, 50%);
    text-decoration: none;
    font-size: 15px;
 }
 
 .detallep .ladoderecho .cinco small{
    font-size: 15px;
 }

 .detallep .ladoderecho .seis select{

    border-radius: 0px;
    width: 100%;
    height: 30px;

}

.detallep .ladoderecho .seis{
    margin-bottom: 10%;
}

.detallep .ladoderecho .siete .añadir{
    width: 100%;
    height: 30px;
    background-color: #f15005de;
    color: #fff;
    font-size: 15px;
}

.detallep .ladoderecho .siete .añadir:hover{
    width: 100%;
    height: 30px;
    background-color:#fff ;
    color: #f15005de;
    font-size: 15px;
}

.abajod{
    
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  

}

.abajod .segundo{

    margin-bottom: 5%;

}

.abajod .cajaab{
    display: flex;
}

.abajod .cajaab .izq{
    margin-right: 10%

}

.abajod .cajaab .izq p{
    font-weight: bold;
    
}


 /*-------------------------------------------------------------------------- 
 DISEÑO CARRITO
 ----------------------------------------------------------------------------*/
.carritoTop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 15px;
    border: solid lightgray;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
}

.itemDetalle {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    line-height: 0px;
 }

    

.itemImagen{
    display: flex;
    flex-wrap: wrap;
 }

.caracteristicas{
    display: flex;
    flex-direction: column;
 }

.opcionesItem{

    display: flex;
    padding: 0px;
    justify-content: space-around;
}

.opcionesItem p a{

    margin-right: 15px;
    text-decoration: none;
    color: black;
}

.itemCantidad, 
.itemPrecio{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.textoAzul {

    color: blue;
}

.textoVerde {

    color: rgb(20, 209, 20);
}

.pago{

    text-align: right;
    margin: 20px;
}

.botonCompra{
    padding: 0 16px;
    float: right;
    border-radius: 2px;
    background-color: #F18805;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: background-color 15ms linear,
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 36px;
    line-height: 2.25rem;
    font-family: Roboto, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.botonCompra:hover, .botonCompra:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
      0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #D95D39;
  }
  
.botonCompra:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
    background-color: #D95D39;
  }

/*-------------------------------------------------------------------------- 
 DISEÑO LOGIN
 ----------------------------------------------------------------------------*/


.datos_login {
    font-size: 14px;
    position: relative;
} 
.titulos_log{
    font-family: system-ui;
    font-weight: inherit;
    font-size: 19px;
    color: #F18805;
    margin-left: 20%;
}

.titulos_log3{
    font-family: system-ui;
    font-weight: inherit;
    font-size: 19px;
    color: #F18805;
    margin-left: 20%;
}

.name{
    margin-left: 26%;
}

.name2{
    margin-left: 23%;
}

.email{
    margin-left: 23%; 
}

.pass2{
    margin-left: 23%;   
}

.date{
    margin-left: 26%;   
}
    
.pass{
    margin-left: 26%;
}

.registro{
    margin-left: 26%;
    margin-top: 7%
}

.miembro{
    margin-top: 5%;
    margin-left: 22%;
}

.repass{
    margin-left: 23%;  
    margin-top: 5%  
}

.logButton{
    padding: 0 16px;
    float: left;
    border-radius: 2px;
    background-color: #F18805;
     box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: background-color 15ms linear,
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 36px;
    line-height: 2.25rem;
    font-family: Roboto, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.politicas{
    margin-left: 18%;
    width: 60%;
}

.politicas label{
    font-size: 0.8rem;
     
}
    
.politicas label a{
    color: dodgerblue;
}
    
    
.inicio{
        
    margin-left: 28%;

}

.log{
    margin-left: 26px;
}

.logButton:hover, .botonCompra:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
     0 4px 5px 0 rgba(0, 0, 0, 0.14),
     0 1px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #D95D39;
}
      
.keeplogin{
    margin-left: 26%;
 }
      
 .logButton:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
    background-color: #e45027;
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redessociales2{
    margin-left: 15%;
    margin-bottom: 6%;
    margin-top: 5%
}
      
.redessociales{
    margin-top: 4%;
    display: flex;
    margin-left: 3%
}

      
.facebook{
    padding: 0 16px;
    float: left;
    border-radius: 2px;
    background-color: #0509f1;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: background-color 15ms linear,
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 36px;
    line-height: 2.25rem;
    font-family: Roboto, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.06em;
      
}

.facebook:hover{
    padding: 0 16px;
    float: left;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color:  #0509f1;
    transition: background-color 15ms linear,
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 36px;
    line-height: 2.25rem;
    font-family: Roboto, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.06em;
      
}



.google{
    margin-right:20px;
    padding: 0 16px;
    float: left;
    border-radius: 2px;
    background-color: #f15005;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: background-color 15ms linear,
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 36px;
    line-height: 2.25rem;
    font-family: Roboto, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.06em;
     
 }

      
.google:hover{
    padding: 0 16px;
    float: left;
    border-radius: 2px;
    background-color:#fff;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color:  #f15005;
    transition: background-color 15ms linear,
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 36px;
    line-height: 2.25rem;
    font-family: Roboto, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.06em;
     
 }


      
.wallpaper{
    position: relative;
    float: right;
    margin-right: 20%;
          }

.wallpaper2{
    position: relative;
    float: right;
    margin-right: 15%;
    margin-top: 5%;
 }

.log_a_reg{
    color: hsl(22, 94%, 50%);
    text-decoration: underline;
    text-shadow: green;
}

.olvidar{
    color: hsl(22, 94%, 50%);
    text-decoration: underline;
    font-size: 11px;
    margin-left: 35%;
}

          
/*-------------------------------------------------------------------------- 
NEW PRODUCT
 ----------------------------------------------------------------------------*/

 
.tipo_producto {
    font-family: system-ui;
    font-weight: 300;
    position: relative;
} 

.titulos_log{
    font-family: system-ui;
    font-weight: inherit;
    font-size: 19px;
    color: #F18805;
}


.titulos_log2{
       
    font-family: system-ui;
    font-weight: inherit;
    font-size: 19px;
    color: #F18805;
   
       
}

.logButton{
    padding: 0 16px;
    float: left;
    border-radius: 2px;
    background-color: #F18805;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: background-color 15ms linear,
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 36px;
    line-height: 2.25rem;
    font-family: Roboto, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
    
.logButton:hover, .botonCompra:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
          0 4px 5px 0 rgba(0, 0, 0, 0.14),
          0 1px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #D95D39;
}
      
.logButton:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
          0 8px 10px 1px rgba(0, 0, 0, 0.14),
          0 3px 14px 2px rgba(0, 0, 0, 0.12);
    background-color: #e45027;
}

.imgNewProduct{
   
    padding-right: 150px;
    float: right;

                  
}

        
.imgNewProduct img{
    width: 500px;
                     
}
          

.log_a_reg{
    color: hsl(22, 94%, 50%);
    text-decoration: underline;
    text-shadow: green;
}

.principal2{
    margin-left: 20%;
}

.tipo{
    margin-left: 12%;
}

.sexo{
    margin-left: 12%; 
}

.nombrep{
    margin-left: 10%; 
    margin-bottom: 1%; 
}

.descripcion{
    margin-left: 10%;  
    margin-bottom: 1%; 
}

.talles{
    margin-left: 14%;  
    margin-bottom: 1%; 
}

.precio{
    margin-left: 9%;
    margin-bottom: 1%; 
}

.imagen2{
    margin-left: 3%;
    margin-bottom: 1%; 
}



.carga{
    margin-left: 9%; 
}
          /*-------------------------------------------------------------------------- 
 FOOTER
 ---------------------------------------------------------------------------*/

 footer{
    margin-top: 5%;
    border-top: 1px solid black;
 }


 footer .contenedor2{
 
    margin-top: 3%;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
}
 

 footer .izq .arriba ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
 }

 footer .izq  .arriba ul li{
    margin-right: 15px;
    list-style: none;
 }

 footer .izq  .arriba ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
 }

footer .izq  .medio{
    margin-bottom: 1%;
}

 
footer .izq  .medio small{
    color: black;
    font-size: 16px;
 }

 
 footer .izq  .abajo small{
    color: black;
    font-size: 16px;
 }




 footer .contenedorfooter{
    margin-left: 15%;
    display: flex;
    justify-content: space-evenly;
 }


footer .der{
    display: flex;
    align-items: center;
}

footer .der .de{
    margin-left: 50px;
}

footer .der .iz p{
    font-size: 17px ;
    font-weight: bold;
}

footer .der .de button[type="submit"]{
  
    border: none;
    background: none;
    margin-right: 8px;
    font-size: 30px;
 
}

body footer .contenedor2 .derecha ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

body footer .contenedor2 .derecha ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
       
}

body footer .contenedor2 .derecha ul li {
    list-style: none;
    margin-bottom: 10px;
}

body footer .contenedor2 .izquierda {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2%;
       
}

body footer .contenedor2 .izquierda img{
    width: 100px;
    margin-right: 20px;
}

    
body footer .contenedor2 .izquierda small{
    font-size: 15px;
}

    
body footer .contenedor2 .derecha{
    margin-top: 1%;
   
}
 

     /*-------------------------------------------------------------------------- 
 MEDIAS-QUERIES
 ---------------------------------------------------------------------------*/




@media (max-width: 600px){

    .wallpaper {
        float: none;
        width: 100%;
    }

    .wallpaper img{
        width: 260px;
    }

    .wallpaper2{
        float: none;
        margin-right:1px;
    }

    .wallpaper2 img{
        width: 100%; 
    }

    body .imgNewProduct {
        position: relative;
        margin-left: 60px;
        padding-right: 0px;
        float: none; 
        height: 200px; 
    }

    body .imgNewProduct img{
        width: 150px;
    }


    header .linea {
        display: flex;
        align-items: center;
    }

    header .icons {
        position: relative;
        display: flex;
    }

    header ul {
        margin-right: 0px;
    }

    header ul li {
        margin-right: 5px;
    }

    header img.logo {
        margin-right: 1px;
        width: 130px;
        height: 100px;
    }

    header form {
                
        width: 330px;
                
    }

    
           
    header .icons{
        margin-bottom: 0px;
       
        margin-left: 260px;
        position: relative;
        bottom: 120px;
    }
        

    header ul li a {
            
        font-size: 10px;
                
    }

    header .logeo {
        position: fixed;
        right: 35px;
       
        top: 5px;
        
    }

    header .logeo ul li {
    
        font-size: 8px;
      
    }

    header .logeo ul li a{
        
        font-size: 8px;
          
    }

    header .icons button[type="submit"] {
        
        font-size: 25px;
    }

    header form {
        width: 150px;
        margin-left: 32%;
    }

    header form input[type="text"] {
            
        font-size: 15px;
                
    }

    header form button[type="submit"] {
            
        font-size: 17px;
            
    }

    body .linea2 {
                
        margin-top: 20%;
        flex-direction: column;
    }

        

    body .linea3 h2 {
                
        margin-top: 10%;
                
    }
        
    body .linea4{
        padding-right: 0%;
        padding-left: 0%;
        margin-top: 10%;
        flex-direction: column;
    }

    body .linea4 .destacado {
                
        margin-bottom: 50px;
        
    }


        
    body .linea4 .destacado img.prendas {
        height: 200px;
        width: 170px;
        margin-left: 40px;
    }
        

    body .linea4 .destacado p {
        font-size: 11px;
        margin-left: 80px;
    }
        
            
    body .linea6 {
        margin-top: 10%;
        padding-right: 0%;
        padding-left: 0%;
        flex-direction: column;
    }
        
            
    body .linea6 .izq img.prenda1{
        height: 320px;
        width: 270px;
        margin-bottom: 30px;
        
    }

    body .linea6 .izq {
                
        margin-left: 0%;
    }
        
    body .linea6 .der {
                
        margin-left: 0%;
    }
        
    body .linea6 .der .fila .prenda {
        margin-right: 30px;
    }
        
    body .linea6 .der .fila .prenda img.prenda2 {
        height: 150px;
        width: 120px;
    }
        
    body .linea6 .der .fila2 .prenda {
        margin-right: 30px;
    }
        
    body .linea6 .der .fila2 .prenda img.prenda2 {
        height: 150px;
        width: 120px;
    }
        
    body .linea6 .der .fila .prenda p {
        font-size: 9px;
    }
        
    body .linea6 .der .fila2 .prenda p {
        font-size: 9px;
    }
        
    body .linea6 .der .fila2 {
        margin-top: 6%;
    }

    body img.centro {
        height: 200px;
        margin-left: 0px;
        width: 280px;
    }

    .imagen2 input{
        font-size: 12px;
    }

    .imagen2{
        margin-left: 0%;
    }

    .imagen2 label{
        margin-left: 15%;
    }

    .carga{
      
        margin-left: 12%;
      
    }


    .titulos_log {
        margin-left: 17%;
    }

    .name2 {
        margin-left: 19%;
    }

    .date {
        margin-left: 23%;
    }

    .email {
        margin-left: 19%;
    }

    .pass2 {
        margin-left: 19%;
    }

    .repass {
        margin-left: 19%;
    }   
            
    
            
    .politicas {
        margin-left: 22%;
    }

    .titulos_log2{
        margin-left: 0%;
        font-size: 11px;
    }

    .tipo {
        margin-left: 26%;
    }

    
    .sexo {
        margin-left: 25%;
    }

    .nombrep {
        margin-left: 18%;
    }

    .descripcion {
        margin-left: 18%;
    }

    .talles {
        margin-left: 36%;
    }

    .precio {
        margin-left: 15%;
    }

    .imagen {
        margin-left: 0%;
    }

    .politicas {
        margin-left: 25%;
    }


        
    .registro {

        margin-left: 25%;
    
    }

    .redessociales2{
        margin-left: 20px;
        margin-bottom: 10%;
    }

    .miembro {

        margin-left: 45px;
    }

    
        

    .detallep{
        margin-top: 0%;
        padding-left: 5%;
        padding-right: 0%;
        flex-direction: column;
    }

    .detallep .ladoderecho .uno p {
        font-size: 20px
    }

    .detallep .ladoderecho .dos p {
        font-size: 13px;
            
    }

    .detallep .ladoderecho {
        margin-left: 5%;
    }

    .detallep .ladoizquierdo .der img {
        height: 300px;
    }

    .detallep .ladoizquierdo .izq {
            
        margin-right: 15%;
    }

    .detallep .ladoizquierdo .izq img {
        width: 40px;
        height: 70px;
    }

    .detallep .ladoderecho .tres p {
        
        font-size: 23px;
        margin-top: -12px;
    }

    .detallep .ladoderecho .tres p.uno {
        
        font-size: 13px;
            
    }

    .titulos_log3 {
          
        font-size: 17px;
        
        margin-left: 14%;
    }

    .abajod .cajaab .izq {
        margin-left: 8%
    }

    .abajod {

        margin-top: 15%;
        
    }

    .abajod h3{

        font-size: 13px
        
    }

    .abajod p{

        font-size: 14px;
        
    }

    .abajod {

        margin-left: 5%;
        margin-right: 5%;
        
    }



    .contenedor{

        margin-right: 10px;
        padding-bottom: 100px;
        margin-left: 20px;
        padding-top: 100px;

    }


    .keeplogin {

        margin-left: 17%;
        
    }


    .name {

        margin-left: 17%;
        
    }

    .pass {

        margin-left: 17%;

    }

    .inicio {

        margin-left: 21%;
        margin-top: 20px;

    }

    .imagen label{
        margin-left: 15%;
    }

    .redessociales {
        margin-top: 10%;
        display: flex;
        margin-left: 0%;
    }

    .google{
        margin-right: 10px;
    }

    .principal2{
        margin-left: 0%;
    }

    body footer .izq .medio {
        margin-bottom: 6%;
    }

    footer .izq .medio small {
        font-size: 13px;
    }

    footer .izq .abajo small {
        
        font-size: 13px;
    }
        
    body footer .izq .arriba ul {
                    
        flex-direction: column;
    }

    body footer .der .de {
        
        margin-top: 40px;
        display: flex;
    }

    footer .izq .arriba ul li {
        
        margin-top: 5px;
    }

    footer .izq .arriba ul li a {
        
        font-size: 13px;
        
    }



    footer .der {
            
        display: flex;
        flex-direction: column;

    }

    footer {
            
        margin-top: 7%;
        
    }

    footer .der .iz p {

        font-size: 14px;
        
        }

    footer .der .de {

        margin-left: 0px;
        margin-top: 20px;

    }

    footer .der .iz {
        
        margin-top: 20px;
    }

    footer .der .iz p {
        font-size: 12px;
            
    }

    footer .contenedorfooter {
        margin-left: 0%;
            
    }

    footer .der .iz p {
        font-size: 0px;
    }

    .opcionesItem {
        
        flex-direction: column;
        
    }

    footer {

        margin-top: 17%;
        
    }

    body footer .contenedor2 .izquierda {
        
        margin-top: 10%;
        flex-direction: column;

    }

    body footer .contenedor2 .izquierda img {
        
        margin-bottom: 20px;

    }

    body footer .contenedor2 .izquierda small {
        font-size: 10px;
        margin-right: 20px;

    }

    body footer .contenedor2 .derecha ul li a {
            
        font-size: 13px;
        
    }
        
}

@media (min-width: 900px) and (max-width: 1200px){

    body .imgNewProduct {
        padding-right: 0px;
    }

    body .imgNewProduct img{
        width: 300px;
    }

    .titulos_log2 {
         margin-left: 0%;
    }

    


    header img.logo {
        width: 200px;
        height: 130px;
        margin-right: 0px;
          
    }

    header ul li a {
        text-decoration: none;
        color: black;
        font-size: 15px;
        font-weight: bold;
    }

    .wallpaper2 {
        margin-right: 0%;
        margin-top: 18%;
        width: 55%;

    }

    .wallpaper2 img{
        width: 90%;
    }

        
    header ul {
        
        margin-right: 10px;

    }
               

    header ul li {
        margin-right: 15px;        
        display: inline-block;

    }

    header form {
                    
        width: 180px;

    }

    header .icons{
        margin-bottom: 10%;
        margin-left: 200px;
    }

    
    header .logeo {
        margin-left: 20px;
        
    }

    header .logeo ul li {
      
        font-size: 14px;
       
    }

    header .logeo ul li a{
      
        font-size: 14px;
       
    }

    img.centro {

        height: 300px;
        margin-left: 5%;

    }

    body .imabajo img {

        width: 150px;
        height: 250px;
        margin-right: 6%;

    }

    img.centro {
                
        height: 300px;
        margin-left: 4%;
                    
    }

    body .detalle{

        margin-left: 20%;

    }

    .wallpaper{

        margin-right: 0px;

    }

    body img.centro {

        height: 350px;
        width: 100%;
        margin-left: 0%;

    }


    body .linea4{

        padding-right: 5%;
        padding-left: 5%;
    
    }
        
    body .linea4 .destacado img.prendas {
        height: 170px;
        width: 150px;
    }
        
    body .linea4 .destacado p {
                  
        font-size: 11px;

    }
        
    body .linea6 {
                   
        padding-right: 5%;
        padding-left: 5%;

    }
        
    body .linea6 .izq img.prenda1{

        height: 500px;
        width: 300px;

    }
        
    body .linea6 .der {
                    
        margin-left: 5%;

    }
        
    body .linea6 .der .fila .prenda {

        margin-right: 50px;

    }
        
    body .linea6 .der .fila .prenda img.prenda2 {

        height: 180px;
        width: 150px;

    }
        
    body .linea6 .der .fila2 .prenda {

        margin-right: 50px;

    }
        
    body .linea6 .der .fila2 .prenda img.prenda2 {

        height: 180px;
        width: 150px;

    }

    body .linea6 .der .fila .prenda p {

        font-size: 11px;

    }

    body .linea6 .der .fila2 .prenda p {

        font-size: 11px;

    }

    body .linea6 .der .fila2 {
                   
        margin-top: 6%;

    }

    .detallep{

        padding-left: 5%;
        padding-right: 0%;

    }
            
    .detallep .ladoderecho .uno p {

        font-size: 23px

    }
            
    .detallep .ladoderecho .dos p {

        font-size: 17px;
                        
    }
                
    .detallep .ladoderecho {

        margin-left: 10%;

    }
                
    .detallep .ladoizquierdo .der img {

        height: 600px;

    }

    .detallep .ladoizquierdo .izq {
                        
        margin-right: 15%;

    }

    .detallep .ladoizquierdo .izq img {

        width: 80px;
        height: 130px;

    }

    .principal2{
        margin-left: 0%;
    }

    .tipo {
        margin-left: 20%;
    }

    .sexo {
        margin-left: 20%;
    }

    .nombrep {
        margin-left: 17%;
    }

    .descripcion {
        margin-left: 17%;
    }

    .talles {
        margin-left: 23%;
    }

    .precio {
        margin-left: 15%;
    }

    
    .imagen {
        margin-left: 6%;
    }

    .carga {
        margin-left: 14%;
    }





           
               
    footer .izq .arriba ul {
                   
        flex-direction: column;

    }

    footer .izq .arriba ul li {
                 
        margin-top: 5px;

    }

    footer .der {
                    
        display: flex;
        flex-direction: column;

    }

    footer {

        margin-top: 7%;
                   
    }

    footer .der .iz p {
                    
        font-size: 14px;
                  
    }

    footer .der .de {

        margin-left: 0px;
        margin-top: 20px;
    }

    footer .der .iz {
                 
     margin-top: 20px;
                
    }

}

    @media (min-width: 1200px) and (max-width: 1500px){

        .titulos_log2 {
            
            margin-left: 18%;
        }
        header ul li {

            margin-right: 40px;
            
        }

        header form {
           
            width: 200px;
            
         }
         header ul {
       
            margin-right: 20px;
        }

        header img.logo {
        
            margin-right: 25px;
        }

        header .icons{
            margin-bottom: 8%;
            margin-left: 280px;
        }

        header .logeo {
            margin-left: 40px;
            
        }

        img.centro {
            height: 480px;
            margin-left: 10%;
        }

        body .imabajo img {
          
            margin-right: 5%;
        }

        body .detalle{
            margin-left: 25%;
        }

        body .detalle{
            margin-left: 20%;
        }

        body img.centro {
            height: 350px;
            width: 100%;
            margin-left: 0%;
        }

        body .linea4 .destacado img.prendas {
            height: 220px;
            width: 180px;
        }

        body .linea4 .destacado p {
            font-size: 14px;
        }

        body .linea6 {
            padding-right: 8%;
            padding-left: 8%;
        }

        body .linea6 .izq img.prenda1{
            height: 600px;
            width: 400px;
        }

        body .linea6 .der {
            margin-left: 5%;
        }

        body .linea6 .der .fila .prenda {
            margin-right: 50px;
        }

        body .linea6 .der .fila .prenda img.prenda2 {
            height: 220px;
            width: 200px;
        }

        body .linea6 .der .fila2 .prenda {
            margin-right: 50px;
        }

        body .linea6 .der .fila2 .prenda img.prenda2 {
            height: 220px;
            width: 200px;
        }

        .wallpaper {
            margin-right: 10%;
        }

        .wallpaper2 {
            margin-right: 5%;
        }


        .detallep{
            padding-left: 10%;
            padding-right: 10%;
        }

        .detallep .ladoderecho .uno p {
            font-size: 23px
        }

        .detallep .ladoderecho .dos p {
            font-size: 17px;
            
        }

        .principal2{
            margin-left: 10%;
        }

        .imgNewProduct {
            padding-right: 0px;
            
        }

        .titulos_log2 {
            margin-left: 0px;
        }

        .tipo {
            margin-left: 14%;
        }

        .sexo {
            margin-left: 14%;
        }

        .nombrep {
            margin-left: 11%;
        }

        .descripcion {
            margin-left: 11%;
        }

        .talles {
            margin-left: 16%;
        }

        .precio {
            margin-left: 10%;
        }

        .imagen {
            margin-left: 0%;
        }

        .imagen2{
            margin-left: 0%;
        }
        
        


        body footer .izq .arriba ul li {
            margin-right: 10px;
          
        }

        body footer .der .iz p {
            font-size: 15px;
          
        }

        footer .der .iz{
            margin-left: 20px;
        }

        footer .der .iz {
            margin-left: 35px;
        }


    }


   

    @media (min-width: 600px) and (max-width: 700px){


        
        .titulos_log2{
          
            margin-left: 0%

        }

        .principal2{
            margin-left: 5%;
        }

        .tipo {
            margin-left: 33%;
        }

        .nombrep {
            margin-left: 28%;
        }

        .descripcion {
            margin-left: 28%;
        }

        .talles {
            margin-left: 40%;
        }

        .precio {
            margin-left: 25%;
        }

        .imagen {
            margin-left: 6%;
        }

        .carga {
            margin-left: 23%;
        }

        
        .sexo {
            margin-left: 33%;
        }


       


        body .imgNewProduct {
            padding-right: 0px;
            float:none;
            margin-left: 35%
        }

        body .imgNewProduct img{
            width: 150px;
        }

        img.centro {
            height: 200px;
            width: 300px;
            margin-left: 5%;
        }

        header .icons {
           
            display: flex;
       
        }

        header img.logo {
            width: 200px;
            height: 100px;
            margin-right: 15px;
        }

        header ul {
           margin-right: 30px;
        }

        header ul li {
            margin-right: 20px;
        }

        header ul li a {
            
            font-size: 16px;
            
        }

        header form {
           
            width: 250px;
            margin-left: 35%;
           
           
        }

        header .icons{
            margin-bottom: 2%;
            margin-left: 30px;
            position: relative;
            bottom: 90px;
        }

        header .logeo {
            position: fixed;
            left: 140px;
            top: 5px;
            
        }

        header .logeo ul li {
        
            font-size: 13px;
          
        }

        header .logeo ul li a{
            
            font-size: 13px;
              
        }

        body .imabajo {

            margin-top: 8%;
            display: flex;
            justify-content: space-between;
            margin-left: 0px;
            
        }

        body .imabajo img {
            width: 130px;
            height: 250px;
           
        }

        .caja ul li a {
           
            font-size: 12px;
           
         }

        .caja{
             margin-bottom: 0px;
        }

        body .detalle i.fa-tag {
            font-size: 20px;
      
        }

        body .detalle p {
       
            font-size: 20px;
        }

        body .detalle img {
            width: 200px;
            height: 200px;
            margin-left: 25%;
        }

        body .detalle {
        
            margin-left: 8%;
            height: 400px;
            width: 400px;
        }

        body .detalle button[type="submit"] {
            margin-left: 180%;
            font-size: 30px;
        }

        .wallpaper {
            margin-right: 10%;
        }

        body img.centro {
            height: 250px;
            width: 100%;
            margin-left: 0%;
        }

        body .linea4{
            padding-right: 0%;
            padding-left: 0%;
        }

        body .linea4 .destacado img.prendas {
            height: 120px;
            width: 100px;
        }

        body .linea4 .destacado p {
      
            font-size: 7px;
        }

        body .linea6 {
       
            padding-right: 0%;
            padding-left: 0%;
        }

        body .linea6 .izq img.prenda1{
            height: 320px;
            width: 200px;
        }

        body .linea6 .der {
            margin-left: 6%;
        }

        body .linea6 .der .fila .prenda {
            margin-right: 30px;
        }

        body .linea6 .der .fila .prenda img.prenda2 {
            height: 120px;
            width: 100px;
        }

        body .linea6 .der .fila2 .prenda {
            margin-right: 30px;
        }

        body .linea6 .der .fila2 .prenda img.prenda2 {
            height: 120px;
            width: 100px;
        }

        body .linea6 .der .fila .prenda p {
            font-size: 7px;
        }

        body .linea6 .der .fila2 .prenda p {
            font-size: 7px;
        }

        body .linea6 .der .fila2 {
       
            margin-top: 6%;
        }
    
   
        footer .izq .arriba ul {
                   
            flex-direction: column;
        }

        footer .izq .arriba ul li {
     
            margin-top: 5px;
        }

        footer .der {
        
            display: flex;
            flex-direction: column;
        }

        footer {
            margin-top: 7%;
       
        }

        footer .der .iz p {
            font-size: 14px;
      
        }   

        footer .der .de {
            margin-left: 0px;
            margin-top: 20px;
        }

        footer .der .iz {
     
            margin-top: 20px;
        }

        footer .der .iz p {
            font-size: 12px;
        
        }

        footer .contenedorfooter {
            margin-left: 0%;
        
        }

        footer .der .de button[type="submit"] {
        
            font-size: 28px;
        }

        footer .der .iz p {
            font-size: 0px;
        }

        footer {
            margin-top: 10%;
       
        }

        .opcionesItem {
            display: contents;

        }

        body footer .contenedor2 .izquierda img {
            width: 80px;
        
        }

        body footer .contenedor2 .izquierda small {
            font-size: 12px;
        }

        body footer .contenedor2 .derecha ul li a {
      
            font-size: 13px;
        
        }

        .wallpaper2 {
          
            float: none;
            margin-right: 1px;

        }

    
        .wallpaper2 img {
          
            width: 100%;
        }

        .wallpaper {
        
            float: none;
            margin-left: 8%;

        }

    

        .detallep{
            padding-left: 0%;
            padding-right: 0%;
        }

        .detallep .ladoderecho .uno p {
            font-size: 20px
        }

        .detallep .ladoderecho .dos p {
            font-size: 13px;
            
        }
    
        .detallep .ladoderecho {
            margin-left: 13%;
        }
    
        .detallep .ladoizquierdo .der img {
            height: 400px;
            width: 220px;
        }

        .detallep .ladoizquierdo .izq {
            
            margin-right: 15%;
        }

        .detallep .ladoizquierdo .izq img {
            width: 50px;
            height: 80px;
        }

        .detallep .ladoderecho .tres p {
            font-size: 23px;
            margin-top: -12px;
        }

        .detallep .ladoderecho .tres p.uno {
          
            font-size: 13px;
            
        }

   
    }


        
    @media (min-width: 700px) and (max-width: 900px){

            body .imgNewProduct {
                padding-right: 0%;
                margin-left: 25%;
                float:none
            }
    
            body .imgNewProduct img{
                width: 250px;
            }

            
            .titulos_log2 {
                margin-left: 0%;
            }

            .tipo {
                margin-left: 30%;
            }

            .nombrep {
                margin-left: 25%;
            }

            .descripcion {
                margin-left: 25%;
            }

            .talles {
                margin-left: 35%;
            }

            .precio {
                margin-left: 23%;
            }

            .imagen {
                margin-left: 6%;
            }

            .carga {
                margin-left: 21%;
            }

            
            .sexo {
                margin-left: 30%;
            }

            


            header img.logo {
                width: 200px;
                height: 100px;
                margin-right: 0px;
            }

            header ul {
               margin-right: 10px;
            }

            header ul li{
                margin-right: 10px;
             }

            header ul li a {
                
                font-size: 12px;
                
            }

            header form {
               
                width: 120px;
            }

            header .icons{
                margin-bottom: 13%;
                margin-left: 90px;
            }

            header .logeo {
                margin-left: 10px;
                
            }

            header .logeo ul li {

               
              
                font-size: 10px;
               
            }

            header .logeo ul li a{
              
                font-size: 10px;
               
            }
        

            img.centro {
                height: 250px;
                margin-right: 25%;
            }

         

            body .linea2 {
               
                margin-top: 12%;
            }

            .caja ul li a {
              
                font-size: 12px;
            
            }

            img.centro {
             
                height: 200px;
                margin-left: 10%;
            }

            .caja {
                margin-bottom: 0%;
            }


         
           
            

            body .detalle {
                
                height: 400px;
        
                width: 400px;
               
                margin-left: 15%;
            }

            body .detalle img {

                width: 200px;

                height: 200px;
           
                margin-left: 25%;
            }

            body .detalle p {
             
                font-size: 20px;
            }

            .detalle i.fa-tag {

                font-size: 25px;
           
            }

            body .detalle button[type="submit"] {

                margin-left: 150%;
               
                font-size: 35px;
            }

            body img.centro {

                height: 300px;
                width: 100%;
                margin-left: 0%;

            }

            body .linea4{
                padding-right: 0%;
                padding-left: 0%;
            }
    
            body .linea4 .destacado img.prendas {
                height: 150px;
                width: 120px;
            }
    
            body .linea4 .destacado p {
                font-size: 8px;
            }
    
            body .linea6 {
               
                padding-right: 0%;
                padding-left: 0%;
            }
    
            body .linea6 .izq img.prenda1{
                height: 400px;
                width: 250px;
            }
    
            body .linea6 .der {
                margin-left: 5%;
            }
    
            body .linea6 .der .fila .prenda {
                margin-right: 50px;
            }
    
            body .linea6 .der .fila .prenda img.prenda2 {
                height: 140px;
                width: 120px;
            }
    
            body .linea6 .der .fila2 .prenda {
                margin-right: 50px;
            }
    
            body .linea6 .der .fila2 .prenda img.prenda2 {
                height: 140px;
                width: 120px;
            }

            body .linea6 .der .fila .prenda p {
                font-size: 9px;
            }

            body .linea6 .der .fila2 .prenda p {
                font-size: 9px;
            }

            body .linea6 .der .fila2 {
               
                margin-top: 6%;
            }

            .wallpaper {
           
                float: none;
                margin-left: 15%;
            }

            .wallpaper2 {

                position: relative;
                float: none;
                margin-right: 0px;

            }
          
            
            
            .redessociales {
              
                margin-left: 7%;
            }

            .principal2 {
                margin-left: 10%;
            }

            footer .izq .arriba ul {
                   
                flex-direction: column;
            }

            footer .izq .arriba ul li {
             
                margin-top: 5px;
            }

            footer .der {
                
                display: flex;
                flex-direction: column;
            }

            footer {
                margin-top: 7%;
               
            }

            footer .der .iz p {
                font-size: 14px;
              
            }

            footer .der .de {
                margin-left: 0px;
                margin-top: 20px;
            }

            footer .der .iz {
             
                margin-top: 20px;
            }

            footer .der .iz p {
                font-size: 12px;
                
            }

            footer .contenedorfooter {
                margin-left: 4%;
                
            }
            footer {
                margin-top: 10%;
              
            }


            .detallep{
                padding-left: 2%;
                padding-right: 0%;
            }
        
            .detallep .ladoderecho .uno p {
                font-size: 20px
            }
        
            .detallep .ladoderecho .dos p {

                font-size: 13px;
                    
            }
            
            .detallep .ladoderecho {

                    margin-left: 13%;

            }
            
            .detallep .ladoizquierdo .der img {

                height: 500px;
                width: 280px;

            }

            .detallep .ladoizquierdo .izq {
                    
                 margin-right: 15%;

            }

            .detallep .ladoizquierdo .izq img {

                width: 70px;
                height: 110px;

             }

            .detallep .ladoderecho .tres p {

                font-size: 23px;
                margin-top: -12px;

            }

            .detallep .ladoderecho .tres p.uno {
                  
                font-size: 13px;
                    
            }


           
    }









/*-------------------------------------------------------------------------- 
 NOSOTROS
 ----------------------------------------------------------------------------*/
    section.nosotros {
        width: 80%;
        height: 90vh;
        display: flexbox;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        overflow: hidden;
    }
    
    
    section.nosotros .cards {
        height: 80vh;
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    
    section.nosotros .cards .card{
        margin: 0px 0px;
        padding: 15px 30px;
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: solid 0.5px #fff;
        filter: grayscale(60%);
        transform: translateY(15%);
        transition: transform 0.5s ease-out;
    }
    
    section.nosotros .cards .card:hover{
        border: solid 0.5px #fff;
        box-shadow: 1px 1px 10px rgb(233, 232, 232);
        transition: all 0.5s ease;
        filter: grayscale(10%);
        border-radius: 10px;
        transform: translateY(0%);
    
    }
    section.nosotros .cards .card:hover > .contacto a i{
        color: #fc5e5e;
    }
    section.nosotros .cards .card:hover > .description h3{
        color: #fc5e5e;
        text-align: center;
    }
    section.nosotros .cards .card:hover > .description figcaption{
        color: #302f2f;
    }
    
    section.nosotros .cards .card div.imagen{
        width: 100%;
        height: 40%;
        height: auto;
    }
    
    section.nosotros .cards .card div.imagen img {
        min-width: 150px;
        min-height: 150px;
        width: 100%;
        height: 100%;
        border-radius:  150px;
    }
    section.nosotros .cards .card div.description{
        margin-top: 20px;
        padding: 0px 2px;
        height: 90%;
        overflow: hidden;
        color: rgb(207, 206, 206);
    }
    section.nosotros .cards .card div.description h3{
        color: black;
        margin-bottom: 10px;
    }
    
    section.nosotros .cards .card div.contacto{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        justify-self: flex-end; 
    }
    
    section.nosotros .cards .card div.contacto a i{
        color: #fff;
        font-size: 20px;
    }