<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<!-----------------------------------------------------------------------
 Esto es el body
--------------------------------------------------------------------------> 

<body>

<!-----------------------------------------------------------------------
 Esto es el header
-------------------------------------------------------------------------->

<%- include('partials/header') %>

<!-----------------------------------------------------------------------
 Esto es el cuerpo
-------------------------------------------------------------------------->

<div class="contenedor">
    <div class="menu">
        <button type="submit"><i class="fas fa-bars"></i></button>
    </div>
   
<<<<<<< HEAD
 <div class="linea2">
    <a href="/products/detalle">
    <img class="centro" src="imagenes/imagenarriba.jpg" alt="logo">
    </a>
=======
    <div class="linea2">
        <img class="centro" src="imagenes/imagenarriba.jpg" alt="logo">
>>>>>>> b390bc97bebae1cf24a313b875ff60753af46d6a
    </div>
    
    <div class="linea3">
        <h2>Destacado</h2>
    </div>
    
    <div class="linea4">
        <div class= "destacado">
<<<<<<< HEAD
            <a href="/products/detalle">
        <img class="prendas" src="imagenes/remera.jpg" alt="logo">
    </a>
        <p>OUTLET DE REMERAS<p>
            <p class="abajo">DE 20% HASTA 50% OFF<p>



    </div>
    <div class= "destacado">
        <a href="/products/detalle">
        <img class="prendas" src="imagenes/camisas.jpg" alt="logo">
    </a>
        <p>CAMISAS Y SWEATERS<p>
            <p class="abajo">HASTA $1999<p>
        
    </div>
    <div class= "destacado">
        <a href="/products/detalle">
        <img class="prendas" src="imagenes/campera.jpg" alt="logo">
    </a>
        <p>CAMPERAS<p>
            <p class="abajo">FIN DE TEMPORADA<p>
    
        
    </div>
    <div class= "destacado">
        <a href="/products/detalle">
      
        <img class="prendas" src="imagenes/zapatillas.jpg" alt="logo">
    </a>
        <p>ZAPATILLAS<p>
=======
            <img class="prendas" src="imagenes/remera.jpg" alt="logo">
            <p>OUTLET DE REMERAS<p>
            <p class="abajo">DE 20% HASTA 50% OFF<p>
        </div>
        
        <div class= "destacado">
            <img class="prendas" src="imagenes/camisas.jpg" alt="logo">
            <p>CAMISAS Y SWEATERS<p>
            <p class="abajo">HASTA $1999<p>
        </div>
    
        <div class= "destacado">
            <img class="prendas" src="imagenes/campera.jpg" alt="logo">
            <p>CAMPERAS<p>
            <p class="abajo">FIN DE TEMPORADA<p>        
        </div>

        <div class= "destacado">
            <img class="prendas" src="imagenes/zapatillas.jpg" alt="logo">
            <p>ZAPATILLAS<p>
>>>>>>> b390bc97bebae1cf24a313b875ff60753af46d6a
            <p class="abajo"> HASTA 25% OFF<p>
        </div>
    </div>

    <div class="linea5">
        <h2>Promociones</h2>
    </div>

<<<<<<< HEAD
             <div class="linea6">
             <div class="izq">
                <a href="/products/detalle">
                <img class="prenda1" src="imagenes/50porciento.jpg" alt="logo">
            </a>
             </div>
             <div class="der">
                <div class="fila">
                    <div class= "prenda">
                        <a href="/products/detalle">
                    <img class="prenda2" src="imagenes/reebok.jpg" alt="logo">
                </a>
                    <p>REEBOK, PUMA Y MAS<p>
                        
                        <p class="abajo">HASTA 30% OFF<p>
                        </div>
                        <div class= "prenda">
                            <a href="/products/detalle">
=======
    <div class="linea6">
        <div class="izq">
            <img class="prenda1" src="imagenes/50porciento.jpg" alt="logo">
        </div>
    
        <div class="der">
            <div class="fila">
                <div class= "prenda">
                    <img class="prenda2" src="imagenes/reebok.jpg" alt="logo">
                    <p>REEBOK, PUMA Y MAS<p>                    
                    <p class="abajo">HASTA 30% OFF<p>
                </div>
                
                <div class= "prenda"> 
>>>>>>> b390bc97bebae1cf24a313b875ff60753af46d6a
                    <img class="prenda2" src="imagenes/cientosremeras.jpg" alt="logo">
                </a>
                    <p>REMERAS<p>
                    <p class="abajo">HASTA $999<p>
                </div>
<<<<<<< HEAD
                <div class="fila2">
                    <div class= "prenda">
                        <a href="/products/detalle">
=======
            </div>
            
            <div class="fila2">
                <div class= "prenda">
>>>>>>> b390bc97bebae1cf24a313b875ff60753af46d6a
                    <img class="prenda2" src="imagenes/jeans.jpg" alt="logo">
                </a> 
                    <p>LEVIS Y MAS<p>
<<<<<<< HEAD
                        <p class="abajo">JEANS HASTA 20% OFF<p>
                        </div>
                            <div class= "prenda">
                                <a href="/products/detalle">
=======
                    <p class="abajo">JEANS HASTA 20% OFF<p>
                </div>
            
                <div class= "prenda">
>>>>>>> b390bc97bebae1cf24a313b875ff60753af46d6a
                    <img class="prenda2" src="imagenes/bermuda.jpg" alt="logo">
                </a> 
                    <p>BERMUDAS HASTA 50% OFF<p>
                    <p class="abajo">FIN DE TEMPORADA<p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-----------------------------------------------------------------------
 Esto es el footer
-------------------------------------------------------------------------->

<%- include('partials/footer') %>
 
</body>

