<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>
<body>

    <%- include('partials/header') %>

<div class="contenedor">

    <div class="menu">
 <button type="submit"><i class="fas fa-bars"></i></button>
 </div>
   
 <div class="linea2">
    <div class="caja">
        <ul>
            <li><a href="">SOBRE NOSOTROS</a></li>
            <li><a href="">PREGUNTAS FRECUENTES</a></li>
            <li><a href="">CONTACTO</a></li>
    
        </ul>
    </div><img class="centro" src="imagenes/scrolling.png" alt="logo">
    </div>
    <div class="imabajo">
        <img src="imagenes/detalleproducto.png" alt="imagenes">
        <img src="imagenes/detalleproducto.png" alt="imagenes">
        <img src="imagenes/detalleproducto.png" alt="imagenes">
    
    </div>

<!-----------------------------------------------------------------------
 Esto es el footer
-------------------------------------------------------------------------->

<%- include('partials/footer') %>
</div> 
</html>
</body>

