<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>
<body>

    <%- include('partials/header') %>

<div class="contenedor">

    <div class="menu">
 <button type="submit"><i class="fas fa-bars"></i></button>
 </div>
   
 <div class="linea2">
    <div class="caja">
        <ul>
            <li><a href="">SOBRE NOSOTROS</a></li>
            <li><a href="">PREGUNTAS FRECUENTES</a></li>
            <li><a href="">CONTACTO</a></li>
    
        </ul>
    </div><img class="centro" src="imagenes/imagenarriba.jpg" alt="logo">
    </div>
    <div class="linea3">
   <h2>Destacado</h2>
    </div>
    <div class="linea4">
        <div class= "destacado">
        <img class="prendas" src="imagenes/remera.jpg" alt="logo">
        <p>OUTLET DE REMERAS<p>
            <p class="abajo">DE 20% HASTA 50% OFF<p>



    </div>
    <div class= "destacado">
        <img class="prendas" src="imagenes/camisas.jpg" alt="logo">
        <p>CAMISAS Y SWEATERS<p>
            <p class="abajo">HASTA $1999<p>
        
    </div>
    <div class= "destacado">
        <img class="prendas" src="imagenes/campera.jpg" alt="logo">
        <p>CAMPERAS<p>
            <p class="abajo">FIN DE TEMPORADA<p>
    
        
    </div>
    <div class= "destacado">
        <img class="prendas" src="imagenes/zapatillas.jpg" alt="logo">
        <p>ZAPATILLAS<p>
            <p class="abajo"> HASTA 25% OFF<p>
    
        
    </div>

         </div>

         <div class="linea5">
            <h2>Promociones</h2>
             </div>

             <div class="linea6">
             <div class="izq">
                <img class="prenda1" src="imagenes/50porciento.jpg" alt="logo">
             </div>
             <div class="der">
                <div class="fila">
                    <div class= "prenda">
                    <img class="prenda2" src="imagenes/reebok.jpg" alt="logo">
                    <p>REEBOK, PUMA Y MAS<p>
                        
                        <p class="abajo">HASTA 30% OFF<p>
                        </div>
                        <div class= "prenda"> 
                    <img class="prenda2" src="imagenes/cientosremeras.jpg" alt="logo">
                    <p>REMERAS<p>
                        <p class="abajo">HASTA $999<p>
                        </div>
                </div>
                <div class="fila2">
                    <div class= "prenda">
                    <img class="prenda2" src="imagenes/jeans.jpg" alt="logo">
                    <p>LEVIS Y MAS<p>
                        <p class="abajo">JEANS HASTA 20% OFF<p>
                        </div>
                            <div class= "prenda">
                    <img class="prenda2" src="imagenes/bermuda.jpg" alt="logo">
                    <p>BERMUDAS HASTA 50% OFF<p>
                        <p class="abajo">FIN DE TEMPORADA<p>
                        </div>
                </div>
             </div>
                 </div>



<!-----------------------------------------------------------------------
 Esto es el footer
-------------------------------------------------------------------------->

<%- include('partials/footer') %>
</div> 
</html>
</body>

