

    <footer>
        <div class= "contenedorfooter">
        <div class= "arriba">
            <ul>
                <li><a href="">Trabajá con nosotros</a></li>
                <li><a href="">Términos y condiciones</a></li>
                <li><a href="">Privacidad</a></li>
                <li><a href="">Ayuda</a></li>
            </div>
            </ul>
            <div class= "medio">
           <small>Copyright © 2015-2020 3Prendero</small>
        </div>
           <div class= "abajo">
            <small>Av. Rivadavia 1015, Piso 3, CP 1500, Caballito, CABA</small>
         </div>
        </div>
    </footer>