<header>
  
   
   
    <div class="linea">
        <a href="/" >
            <img class="logo" src="../../imagenes/logo.jpg" alt="logo">
        </a>
        <ul>
            <li><a href="/products/men">HOMBRE</a></li>
            <li><a href="/products/women">MUJER</a></li>
            <li><a href="/products/kids">KIDS</a></li>
        </ul>
        <form action="/products/search" method="GET">
            <input type="text" placeholder="Search" id="search" name="search" value="<%(typeof busqueda=='undefined')? '' :busqueda %>"><button type="submit"><i class="fas fa-search"></i></button>
        </form>

        <% if(typeof hayunusuario != "undefined") { %>

            
            <div class= "logeo">
            <ul>
                <li>
                   
                    <a href="/users/profile/<%= hayunusuario.id %>">Bienvenido  <%= hayunusuario.username %></a>
                </li>
                <li><a href="/users/logout">Cerrar sesion</a></li>
            </ul>
        </div>
        <div class = "carrito">
            <button type="submit"><a href="/products/carrito"><i class="fas fa-shopping-cart"></a></i></button>
        </div>
       
        <% } else { %>
        
    <div class="icons">
       
    
    
        
       
       
        <button type="submit"><a href="/users/login"><i class="fas fa-user"></i></a></button>
    
    </div> 
    
    <% }   %> 
    </div>
    

  
       
   
   
   
   
   
</header>