<header>
    <div class="linea">
        <a href="/" >
            <img class="logo" src="../imagenes/logo.jpg" alt="logo">
        </a>
        <ul>
            <li><a href="#">HOMBRE</a></li>
            <li><a href="#">MUJER</a></li>
            <li><a href="#">KIDS</a></li>
        </ul>
        <form action="index.html" method="POST">
            <input type="text" placeholder="Search"><button type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
    
    <div class="icons">
        <button type="submit"><a href="/products/carrito"><i class="fas fa-shopping-cart"></a></i></button>
        <button type="submit"><a href="/users/login"><i class="fas fa-user"></i></a></button>
    </div>   
</header>