* {
    box-sizing: border-box;
    padding: 0px;
    }

body{
    background-color: rgb(250, 221, 90)
}

.contenedor {
    background-color: rgb(246, 247, 229);
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Roboto:wght@400;700&display=swap');

@import url("https://use.fontawesome.com/releases/v5.15.1/css/all.css");



/*-------------------------------------------------------------------------- 
DISEÑO HEADER
 ----------------------------------------------------------------------------*/
 
header {
    background-color: rgb(243, 166, 66);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    margin-bottom: 20px;
    
 }

 header img.logo {
    width: 250px;
    height: 150px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 10px;
    margin-right: 100px;
}

header .linea {
    display: flex;
    flex-wrap: wrap;
    align-items: center;




}
header .contenedortitulo{
  

  
    
  
}

header .titulo{
  
   
    margin-left: 300px;


}
header .titulo p{
    color: rgb(250, 221, 90);

    font-size: 100px;
    font-weight: bold;
}


        /*-------------------------------------------------------------------------- 
 FOOTER
 ---------------------------------------------------------------------------*/

 footer{
    margin-top: 5%;
    border-top: 1px solid black;
 }


 footer .contenedor2{
 
    margin-top: 3%;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
}
 

 footer .izq .arriba ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
 }

 footer .izq  .arriba ul li{
    margin-right: 15px;
    list-style: none;
 }

 footer .izq  .arriba ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
 }

footer .izq  .medio{
    margin-bottom: 1%;
}

 
footer .izq  .medio small{
    color: black;
    font-size: 16px;
 }

 
 footer .izq  .abajo small{
    color: black;
    font-size: 16px;
 }




 footer .contenedorfooter{
    margin-left: 9%;
    display: flex;
    justify-content: space-evenly;
 }


footer .der{
    display: flex;
    align-items: center;
    flex-direction: column;
}



footer .der .iz p{
    font-size: 17px ;
    font-weight: bold;
}

footer .der .de button[type="submit"]{
  
    border: none;
    background: none;
    margin-right: 8px;
    font-size: 30px;
 
}

body footer .contenedor2 .derecha ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

body footer .contenedor2 .derecha ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
       
}

body footer .contenedor2 .derecha ul li {
    list-style: none;
    margin-bottom: 10px;
}

body footer .contenedor2 .izquierda {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2%;
       
}

body footer .contenedor2 .izquierda img{
    width: 100px;
    margin-right: 20px;
}

    
body footer .contenedor2 .izquierda small{
    font-size: 15px;
}

    
body footer .contenedor2 .derecha{
    margin-top: 1%;
}

.lineaarriba{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.lineaarriba .caja{
    width: 400px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: rgb(245, 166, 92);
    padding: 20px 20px 20px 20px;
}

.lineaarriba .caja .contiene .body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lineaarriba .caja .contiene {
    padding: 20px 20px 20px 20px;
    background-color: white;
}

.lineaarriba .caja .contiene .body p{
    font-size: 18px;
    color:rgb(243, 166, 66)
}

.lineaarriba .caja .contiene .body .der{
    margin-right: 5%;
    margin-top: 5%
}

.lineaarriba .caja .contiene .body .der i{
    color:rgb(243, 166, 66)
}

.lineaarriba .caja .contiene .body .izq .dos{
  margin-left: 70px;
  
}

.centro{
    margin-top: 5%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.centro .caja{
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: rgb(245, 166, 92);
    padding: 20px 20px 20px 20px
    
}

.centro .caja .arriba{
    background-color: rgba(248, 242, 222, 0.945);
 
    width: 100%;
    height: 80px;
    padding: 5px 5px 5px 5px;
 
 
   
}

.centro .caja .arriba .titulo{
    margin-left: 20%;
  
}

.centro .caja .arriba .titulo h6{
    font-size: 18px;
    color:rgb(243, 166, 66);
    margin-top: 20px;
 
   
}

.centro .caja .arriba .titulo2{
    margin-left: 25%;
  
}

.centro .caja .arriba .titulo2 h6{
    font-size: 18px;
    color:rgb(243, 166, 66);
    margin-top: 20px;
 
   
}


.centro .caja .abajo img{
    
    height: 500px;
    width:100%;
}

.centro .caja .abajo p{
    font-size: 20px;
    color:rgb(235, 230, 224);
}

.centro .caja .abajo .nombre{
    display: initial;
    text-align: center;
}

.centro .caja .abajo .precio{
    display: initial;
    text-align: center;
}

.centro .caja .abajo .descripcion{
    display: initial;
    text-align: center;
}

.centro .caja .abajo .cajas{
    margin-top: 7%;
    display: flex;
    flex-direction: column;
}

.centro .caja .abajo .cajas .caja{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    width: 100%;
    height: 80px;
    background-color: rgb(243, 221, 125);
    margin-top: 5%;
    padding: 5px 5px 5px 5px;
    

}

.centro .caja .abajo .cajas .caja .categoria{
    justify-content: space-between;
    padding-right: 25%;
    padding-left: 25%;
    display: flex;
}
    

.centro .caja .abajo .cajas .caja .categoria .uno{

}


.centro .caja .abajo .cajas .caja p{
    font-size: 22px;
    color:rgb(243, 153, 78);
    font-weight: bold;
}

.abajo{
    margin-top: 5%;
}

.lineaabajo{
    margin-top: 10%;
}

.contenedortabla{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: rgb(245, 166, 92);
    padding: 20px 20px 20px 20px
}

.contenedortabla .body{
    background-color: rgba(248, 242, 222, 0.945);
    padding: 20px 20px 20px 20px;
}

.contenedortabla .body .tabla {
   
    padding: 5px 5px 5px 5px;
  
}



th{
  
    padding: 5px 5px 5px 5px;
    border-top: 3px solid  rgb(245, 166, 92);
    border-right: 3px solid  rgb(245, 166, 92);
    font-size: 14px;
    color:rgb(243, 166, 66);
    background-color: white;
}

table{
    border-left: 3px solid  rgb(245, 166, 92); 
   
    border-bottom: 3px solid  rgb(245, 166, 92); ;
}

h1{
    color:rgb(243, 166, 66);
    margin-left: 35%; 
}


.ver{
    margin-left: 43%;
    margin-top: 8%;
}


.llamar{
    border: none;
    border-radius: 20px;
    background-color: #fcb75e;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
}

.llamar a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

thead tr th{
    font-size: 18px;
}





@media (min-width: 1200px) and (max-width: 1500px){


    header .titulo{
  
   
        margin-left: 100px;
    
    
    }
    header ul li {

        margin-right: 40px;
        
    }

    header form {
       
       width: 200px;
        
     }
     header ul {
   
        margin-right: 20px;
    }

    header img.logo {
    
        margin-right: 25px;
    }

    header .icons{
        margin-bottom: 8%;
        margin-left: 350px;
    }

    header .logeo {
        margin-left: 40px;
        
    }

    
  
    

    footer .contenedorfooter {
        margin-left: 14%;
      
    }

    body footer .izq .arriba ul li {
        margin-right: 10px;
      
    }

    body footer .der .iz p {
        font-size: 15px;
      
    }

    footer .der .iz{
        margin-left: 20px;
    }

    footer .der .iz {
        margin-left: 35px;
    }

    .lineaarriba .caja {
        width: 300px;
        
        padding: 10px 10px 10px 10px;
    }

    .lineaarriba .caja .contiene {
        padding: 10px 10px 10px 10px;
        
    }

    .lineaarriba .caja .contiene .body p {
        font-size: 16px;
     
    }

    .centro .caja {
        width: 450px;
        
        padding: 10px 10px 10px 10px;
    }

    .centro .caja .arriba {
      
        height: 70px;
       
    }

    .centro .caja .arriba .titulo h6 {
        font-size: 16px;
       
    }

    .centro .caja .arriba .titulo2 h6 {
        font-size: 16px;
       
    }

    .centro .caja .abajo img {
        height: 320px;
      
    }

    .centro .caja .abajo p {
        font-size: 18px;
    }

    .centro .caja .abajo .cajas .caja {
        
        height: 60px;
       
    }

    .centro .caja .abajo .cajas .caja p {
        font-size: 20px;
        margin-top: 10px;
     
    }

    h1 {
       
        margin-left: 28%;
    }


   
   
    }

















