
<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>

<body>
<div class="container_log" >
		
			<form  action="mysuperscript.php" autocomplete="on"> 
				<div class= "titulos_log"><h1>Inicia Sesión</h1> </div>
				<div> 
					<label for="username" class="datos_login" data-icon="u" > Nombre de Usuario </label><br>
					<input id="username" name="username" required="required" type="text" placeholder="myusername or mymail@mail.com"/>
                </div><br>
				<div> 
					<label for="password" class="datos_login" data-icon="p"> Contraseña </label><br>
					<input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" /> 
                </div><br>
				<div class="keeplogin"> 
					<input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" /> 
                    <label for="loginkeeping">Mantenerme Logeado</label><br><br>
                </div>
				<div><button class="logButton" type=“submit”>Iniciar Sesión</button></div><br><br><br><br><br>
				<div>
					¿No eres miembro aún?
					<a href="register" class="log_a_reg">¡Únete a 3-Prendero!</a>
                </div>  
            </form>
            <article class="wallpaper"><img src="../imagenes/wppmujer.jpg" alt="wallpapaer">
       
            </article>
		</div>
    </body>
    </html>