
<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<!-----------------------------------------------------------------------
 Esto es el body
--------------------------------------------------------------------------> 

<body>

<!-----------------------------------------------------------------------
 Esto es el header
-------------------------------------------------------------------------->

<%- include('../partials/header') %>

<!-----------------------------------------------------------------------
 Esto es el cuerpo
-------------------------------------------------------------------------->
  
<div class="contenedor" >   
  <article class="wallpaper2"><img src="../imagenes/Wallpapaer.jpg" alt="wallpapaer">     
  </article>
  
  <div class= "principal"> 
    <form  action="" id ="form" method="post" enctype="multipart/form-data"> 
      <div class= "titulos_log"><h1>Regístrate</h1> 
      </div>

      <div class="primero">
        <div class= "nombreus"> 
          <i class="far fa-user"></i>
          <label for="nombre" class="datos_login" data-icon="u" > Nombre </label><br>
          <input id="nombre" name="nombre"  type="text"  placeholder="juan"/>
          <div class="small">
          <small id= "errornombre"></small>
          </div>
        </div><br>

        <div class= "apellidous"> 
          <i class="far fa-user"></i>
          <label for="apellido" class="datos_login" data-icon="u" > Apellido </label><br>
          <input id="apellido" name="apellido"  type="text"  placeholder="lopez"/>
          <div class="small">
          <small id= "errorapellido"></small>
        </div>
        </div><br>
      </div>

      <div class= "arriba">
      <div class= "name2"> 
        <i class="fas fa-id-card"></i>
        <label for="username" class="datos_login" data-icon="u" > Cómo quieres llamarte? </label><br>
        <input id="username" name="username"  type="text"  placeholder="brucewayne"/>
        <small id= "erroruser"></small>
      </div><br>
  
      <div class="date">
        <i class="far fa-calendar-alt"></i>
        <label for="date" class="datos_login">Cuando naciste?</label><br>
        <input id="date" name="date" type="date">
      </div><br>

    </div>
    <div class= "medio"> 
      <div class="email">
        <i class="far fa-envelope"></i>
        <label for="email" class="datos_login" data-icon="p">Email</label><br>
        <input id="email" name="email" placeholder="brucewayne@gmail.com" >
        <div class="small">
        <small id= "errormail"></small>
        </div>
      </div><br>  
    </div>

      <div class= "abajo"> 
      <div class= "pass2"> 
        <i class="fas fa-lock"></i>
        <label for="password" class="datos_login" data-icon="p"> Contraseña </label><br>
        <input id="password" name="password"  type="password" placeholder="batman123" /> 
        <div class="small">
        <small id= "errorpass"></small>
        </div>
      </div><br>  
            
      <div class= "repass"> 
        <i class="fas fa-lock-open"></i>
        <label for="password" class="datos_login" data-icon="p"> Confirmar ! </label><br>
        <input id="repassword" name="repassword" type="password" placeholder="batman123"  /> 
        <div class="small">
        <small id= "errorrepass"></small>
        </div>
      </div><br> 

    </div>

      <div class= "imagen3">
        <label for="">Subí tu selfie !!</label> <br>
        <input id="image" type="file" name="image">
      </div>  <br>
                      
      <div class="politicas">
        <label>
          <input type="checkbox" value="Si" name="politica" id="politica">Acepto los <a href="">Terminos y condiciones</a> y la <a href="">Política de privacidad de datos.</a>
        </label>
        <div class="small">
        <small id= "errorpolitica"></small>
        </div>
      </div>
                          
      <div class= "registro"><button class="logButton" type=“submit”>Registrarme</button>
      </div><br><br><br>

      <div class="redessociales2">    
        <button class="google" type="submit"><i class="fab fa-google"></i> Google</button>
        <button class="facebook" type="submit"><i class="fab fa-facebook"></i> Facebook</button>            
      </div><br><br>
                     
      <div class= "miembro">Ya eres miembro? <a class="log_a_reg" href="login">Inicia sesión</a> </label>
      </div>
    </form>  
  </div>


  <!-----------------------------------------------------------------------
 Esto es el footer
-------------------------------------------------------------------------->

<%- include('../partials/footer') %>

</div>
 <script src= "../JSfront/validarregistro.js"></script>
</body>


