
<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

<body>

  <%- include('../partials/header') %>

  
  <div class="contenedor" >
   
    <article class="wallpaper2"><img src="../imagenes/wallpapaer.jpg" alt="wallpapaer">
       
    </article>
    <form  action="register" autocomplete="on"> 
      <div class= "titulos_log"><h1>Regístrate</h1> </div>
      <div> 
        <label for="username" class="datos_login" data-icon="u" > Elige un Nombre de Usuario </label><br>
        <input id="username" name="username" required="required" type="text" placeholder="myusername or mymail@mail.com"/>
              </div><br>
  
  
             <div>
               <label for="date" class="datos_login">Fecha de Nacimiento</label><br>
               <input id="date" type="date"></div>   <br>
               
        <div>
          <label for="email" class="datos_login" data-icon="p">Email</label><br>
           <input type="email" placeholder="Email" required></div>    <br>   
      <div> 
        <label for="password" class="datos_login" data-icon="p"> Contraseña </label><br>
        <input id="password" name="password" required="required" type="password" placeholder="Escriba aquí su contraseña" /> 
              </div>
            
       <div> 
        <label for="password" class="datos_login" data-icon="p"> Confirme Contraseña </label><br>
                <input id="password" name="password" type="password" placeholder="Re contraseña" required /> 
                      </div>   <br>   
                          
                      <div><button class="logButton" type=“submit”>Registrarme</button></div><br><br><br><br><br>
              Ya eres miembro?
              <a class="log_a_reg" href="login">Inicia sesión..</a> </label>
      </form>
     


  
      <%- include('../partials/footer') %>
    </div>

 
</body>
</html>


